*{box-sizing: border-box;
  
  }
#mydialog{
    width: 30vw;
    padding: 0;
}
#mydialog button{
    background: none;
    border: none;
    font-size: 30px;
}

#mydialog div{
    display: grid;
    grid-template-columns: auto 44px;
    background-color: #ddd;
    border-bottom: 1px solid #aaa;
    padding: 5px;
}
#showHere{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80vw;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    
}
img{
    display: block;
    margin-right: 20px;
}