.filters{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    align-items: center;
}
label{
    display: block;
    width: 50%;
    text-align: left;
    margin-bottom: -15px;
}
input, select{
    height: 50px;
    width: 50%;
    margin-bottom: 20px;
    font-size: 20px;
    
}
#destinations-container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cdf2a6;
    padding: 10px;
    box-shadow: 1px 2px 5px #c0d6ed;
    
}
p, h3, strong{
    background: none;
    color: black;
}
.card button{
    padding: 10px;
}
textarea{
    width: 50%;
}
button{
    width: 25%;
    padding: 10px;
    font-size: 18px;
    height: 50px;
    margin-bottom: 20px;
}
.data{
    width: 50%;
    margin: auto;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.data p{
    margin-bottom: 10px;
}
main{
    width: 100%;
    /* border: 1px solid; */
    padding: 0;
    }

form{
    width: 100%;
}

@media (min-width:700px){
    main{
        width: 60%;
        margin: auto;
        /* border: 1px solid; */
        
    }
    form{
    width: 100%;
    }
}