
@media (min-width:641px) and (max-width: 1024px){
    header nav ul li{
        padding: 20px;
    }
    header nav ul li a{
        padding: 5px;
        border-radius: 5px;
    }
    .cad{
        width: 90%;
        margin: auto;
        display: grid;
        /* border: 1px solid; */
        gap: 20px;
        grid-template-areas: 
        "one"
        "two"
        "three"
         "four"
        "five"
         "six"
        "seven"
         "eight"
        ;
        
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    .one{
        grid-area: one;
    }
    .two {
        grid-area: two;
    }
    .three{
        grid-area: three;
    }
    .four{
        grid-area: four;
    }
    .five {
        grid-area: five;
    }
    .six{
        grid-area: six;
    }
    .seven {
        grid-area: seven;
    }
    .eight{
        grid-area: eight;
    }
    
    .one, .two, .three, .four, .five, .six, .seven, .eight{
        padding: 20px;
        background-color: rgba(0, 145, 255, 0.123);
        display: grid;
        grid-template-areas: 
        "heading heading"
        "img layout"
        "button button"
        ;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 50px 1fr 50px;
    }
    .heading{
        grid-area: heading;
    }
    .img{
        
        max-width: 300px;
        grid-area: img;
        margin-bottom: 30px;
        margin-right: 30px;
        
    }
    .layout{
        /* display: flex; */
        grid-area: layout;
        /* gap: 20px; */
        padding: 20px;
       
        
    }
    .layout p{
        text-align: left;
    }
    .layout address{
        font-weight: bolder;
        margin-top: 30px;
    }
     .button{
    
    grid-area: button;
    display: block;
    height: 44px;
    padding: 7px;
    line-height: 20px;
    font-size: 20px;
    box-sizing:border-box;
    border: none;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    background-color: aqua;
         
     }
}



