@media (min-width:620px){
    /* button img{
        margin-right: 20px;
    }
    
    button.hamburger{
        display: none;
    }
    
    footer div.two {
        display: flex;
        gap: 100px;
    } */
    header{
        display: flex;
        justify-content: space-between;
    }
    
    header nav{
        display: flex;
        flex-direction: row;
        /* margin: auto; */
        gap: 20px;
        align-items: center;
        padding: 20px;
    }
    header nav ul.list{
        display: flex;
    }
    header nav ul.list.open{
        display: flex;
        flex-direction: row;
        margin-right: 30px;
        gap: 2px;
    }
    header nav ul.list.open li a{
        text-decoration: none;
        border-bottom: none;
        font-size: 18px;
    }
    
    header nav ul.list li a:hover{
        background-color: black;
        color: white;
        
    }
    a{
        text-decoration: none;
    }
    
    header nav ul.list.open li{
        list-style-type: none;
    }
    /* header .button{
        margin: auto;
        margin-right: -1px;
    } */
    header .hamburger{
        display: none;
       
    }
    .part1{
        display: grid;
        grid-template-columns:auto 24vw 24vw;
        gap: 10px;
        box-sizing: border-box;
        margin-bottom: 40px;
        
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        /* text-align: left; */
        font-size: 20px;
        font-weight: 300;
        background-color: rgba(9, 174, 20, 0.218);
        padding: 20px;
        margin-top: 20px;
        align-items: center;
       
      }
    footer div.one, div.three{
        justify-items: left;
    }
    footer div.two {
        display: flex;
        gap: 5px;
    }
   
    .banner a{
         width: 12vw;
         /* padding: 10px; */
         }
    
    
    
    
    
    .members.list{
        padding: 20px;
        text-align: left;
    }
    .members{
        display: flex;
        gap: 20px;
    }
    .members.open.view-grid{
        width: 96vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        margin: auto;
    }
    .members.open{
        display: flex;
        flex-direction: column;
        
        
    }
    .grid-view, .list-view{
        cursor: pointer;
    }
    .members.open .list{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: left;
        /* gap: 20px; */
        padding: 20px;
        /* border: 1px solid black; */
        margin: auto;
        
        
    }
    .members.open div.list:nth-of-type(odd){
        background-color: rgb(219, 216, 216);
        /* border: 1px 0 solid black; */
    }
    .members.open div.list h2{
        font-size: 15px;
        margin-left: 150px;
       
    }
    .members.open div.list p, .members.open div.list div{
       text-align: left;
       /* border: 1px solid black; */
       margin-left: 100px;
       
    }
    .current-events{
        width: 98vw;
        margin: auto;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));gap: 20px;
        align-items: center;
    }
    .current-events h2{
        text-align: center;
        background-color: rgba(9, 174, 20, 0.218);
        
    }
    .current-events a img{
       display: block;
       margin: auto;
       margin-top: 50px;
       margin-bottom: 20px;
    }
    
.event-one, .event-two, .event-three{
    border: 1px solid rgba(9, 174, 20, 0.218);
}
.banner a.push-down{
    top: 300px;
}

.threeDaysForcast{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: auto;
    margin-top: 10px;
    width: 90vw;
    
}
/* .forecast-item{
    border: 1px solid rgba(9, 174, 20, 0.218);
    padding-bottom: 20px;
    box-sizing: border-box;
}
.forecast-item h3{
    text-align: center;
    background-color: rgba(9, 174, 20, 0.218);
}
.forecast-item img{
    display: block;
    margin: auto;
}
.weatherItems{
    display: flex;
    flex-direction: column;
} */
/* h2.weatherUpdate{
   text-align: center;
   background: rgba(9, 174, 20, 0.218);
   width: 90vw;
   margin: auto;
   margin-top: 30px;
   
    
}
p span{
    font-weight: bold;
}
p.current-weather, p.current-description{
    margin: 10px;
    
} */
/* .spotlight-section {
    text-align: center;
    padding: 20px;
} */

.spotlight-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 90vw;
    margin: auto;
   
}
/* .spotlight-section h2{
    background-color:  rgba(9, 174, 20, 0.218);
    width: 90vw;
    margin: auto;
    margin-bottom: 20px;;
}

.spotlight-card {
    background: rgba(9, 174, 20, 0.218);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(9, 174, 20, 0.218);
    text-align: center;
    border: 1px solid;
}

.spotlight-card img {
    max-width: 100px;
    margin-bottom: 10px;
}

.spotlight-card a {
    display: block;
    margin-top: 10px;
    color: #091484;
    text-decoration: none;
    font-weight: bold;
} */


}