#cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    
}

.card{
    padding: 5px;
    background-color: rgb(236, 242, 242);
    align-self: center;
    padding-bottom: 20px;
}

h1,#cards h2, h6{
    text-align: center;
}
#cards h2, .margin-bottom{
    margin-bottom: -20px;
}


#cards img{
   display: block;
   margin: auto;
   max-width: 200px;
}

footer{
    margin-top: 20px;
    background-color: rgb(236, 242, 242);
    padding: 20px;
    text-align: center;
    
}